<div class="card">
<% @shop.each do |shop| %>
  <div class="card_content">
    <div class="card_wrap_images">
      <%= image_tag shop.image %>
    </div>
    <div class="card_text">
      <h3><%= shop.title %></h3>
      <h6>$<%= shop.price %></h6>

      <a href="/shops/<%= shop.id %>">
        <button class="myButton">Buy Now</button>
      </a>

    </div>
  </div> 
<% end %>
</div>