<div class="card">
<% @shop.each do |item| %>
  <div class="card_content">
    <div class="card_wrap_images">
      <%= image_tag item.image %>
    </div>
    <div class="card_text">
      <h3><%= item.title %></h3>
      <h6>$<%= item.price %></h6>
      <button class="myButton">Buy Now</button>
    </div>
  </div> 
<% end %>
</div>